@{
    ViewBag.Title = "_LayoutLoginRegister";

}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/Content/Font-End/Admin/vendors/feather/feather.css">
    <link rel="stylesheet" href="/Content/Font-End/Admin/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/Content/Font-End/Admin/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/Content/Font-End/Admin/vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="/Content/Font-End/Admin/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="/Content/Font-End/Admin/js/select.dataTables.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/Content/Font-End/Admin/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/Content/Font-End/Admin/images/favicon.png" />
</head>
@*content*@
<div>
    @RenderBody()
</div>


        </div>
<!-- main-panel ends -->
            </div>
<!-- page-body-wrapper ends -->
        </div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="/Content/Font-End/Admin/vendors/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/Content/Font-End/Admin/vendors/chart.js/Chart.min.js"></script>
<script src="/Content/Font-End/Admin/vendors/datatables.net/jquery.dataTables.js"></script>
<script src="/Content/Font-End/Admin/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="/Content/Font-End/Admin/js/dataTables.select.min.js"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="/Content/Font-End/Admin/js/off-canvas.js"></script>
<script src="/Content/Font-End/Admin/js/hoverable-collapse.js"></script>
<script src="/Content/Font-End/Admin/js/template.js"></script>
<script src="/Content/Font-End/Admin/js/settings.js"></script>
<script src="/Content/Font-End/Admin/js/todolist.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/Content/Font-End/Admin/js/dashboard.js"></script>
<script src="/Content/Font-End/Admin/js/Chart.roundedBarCharts.js"></script>
<!-- End custom js for this page-->
