@using TechShop.Models
@model List<Category>


<ul>
    @{ foreach (var item in Model)
        {

            @*<li><a href="#"> @item.Category_Name</a></li>*@
            <li>
                @Html.ActionLink(item.Category_Name, "Index", "Home", new { catId = item.Category_Id }, null)
            </li>

        }
    }
</ul>
